[Unit]
Description=Telegram bot 'Nusi'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Nusi/
ExecStart=/usr/bin/python main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target